{% extends 'base.html.twig' %}

{% block title %}Guinot-immobilier{% endblock %}

{% block body %}
    <div class = "jumbotron">
        <br> GUINOT IMMOBILIER:</br>
        <br> ACCESS LOCATION & VENTE D'APPARTEMENTS</br>
    </div>

-----------------------------------------------------
<div class="container">

{# Liste de ce que j'aimerai afficher#}
<div class = "row">
     {% for immobiliers in immobiliers %}     
          <resume>
               {# Faisant une interpollation#}
               <h5>categorie / {{ immobiliers.titre }}</h5>
               <p> Date de publication: {{ immobiliers.createdAt | date('d/m/Y')}}</p>
               <div class = "content">
                    <img src="{{ immobiliers.photo}}" alt=""  align="left">
                    <p align="justify"> {{ immobiliers.description}}   </p> 
                    <a href="{{ path('index', {'id': immobiliers.id })}}" class="btn btn-primary"> Consulter</a>  
               </div>          
          </resume>
          <hr> </hr>
     {% endfor %} 
</div>




{% endblock %}
