{% extends 'base.html.twig' %}

{% block title %}Guinot-immobilier{% endblock %}

{% block body %}
  {{ include('_header_footers/_header_location.html.twig') }}
<div class="container">
{# Liste de ce que j'aimerai afficher#}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libellé de Bien</th>
                <th>Categorie</th>
                <th>Date Création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
             {% for location in locations %}   
            <tr>
                <td>{{ location.id }}</td>
                <td>{{ location.denomination }}</td>
                <td> {{location.categorie.titre}}</td>
                <td>{{ location.createdAt ? location.createdAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('location.affich', {'id': location.id}) }}"><button type="button" class="btn btn-outline-primary">Lire </a>
                     <a href="{{ path('location.edition', {'id': location.id}) }}"><button type="button" class="btn btn-outline-secondary">Editer</a>
                    {{ include('location/_delete_form.html.twig') }} 
                </td>
            </tr>
            
        {% else %}
             <tr>
                <td colspan="9">no records found</td>
            </tr>
                  <br>
                  <br>
        {% endfor %}
        <a href="{{ path('location.nouveau.admin') }}"><button type="button" class="btn-outline-light">Enregistrer un nouveau Bien </a>
        </br>
        </tbody>
    </table>
        </br>
        </br>
        </br>
        </br>
        </br>
     </div>
</div>
 <div class="pagination">
        {{ knp_pagination_render(locations) }}
    </div>

</div>

{% endblock %}